In [1]:
import pandas as pd

data = pd.read_csv(r'C:\Users\Lenovo\Desktop\AgriCast Predictive Analytics for Crop Production\Data\Processed\crop_production_processed_data.csv')

In [4]:
data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

# For Production Prediction:

In [5]:
x_values = data[['Crop_Year', 'Season', 'Crop', 'Area', 'Production']]

In [6]:
x_values = pd.get_dummies(data=x_values, columns=['Season'], dtype=float)

In [8]:
from category_encoders import TargetEncoder

encoder = TargetEncoder()
x_values["Crop"] = encoder.fit_transform(x_values["Crop"], x_values['Production'])

In [9]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
x_values[["Area"]] = scaler.fit_transform(x_values[["Area"]])

Save Scaled Data

In [ ]:
x_values.to_csv(r'C:\Users\Lenovo\Desktop\AgriCast Predictive Analytics for Crop Production\Data\Scaled\crop_production_scaled.csv', index=False, encoding='utf-8')

# For Crops Prediction

In [2]:
data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [3]:
values = data[['Crop_Year', 'Season', 'Area', 'Production', 'Crop']]

In [4]:
values = pd.get_dummies(data=values, columns=['Season'], dtype=float)

In [6]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
values[["Area", "Production"]] = scaler.fit_transform(values[["Area", "Production"]])

## Save Scaled Data

In [8]:
values.to_csv(r'C:\Users\Lenovo\Desktop\AgriCast Predictive Analytics for Crop Production\Data\Scaled\crop_production_scaled_classification.csv', index=False, encoding='utf-8')