In [1]:
import pandas as pd

data = pd.read_csv(r'C:\Users\Lenovo\Desktop\AgriCast Predictive Analytics for Crop Production\Data\Processed\crop_production_processed_data.csv')
data.drop(columns=['Crop_Year'], axis=1, inplace=True)

In [2]:
data.head()

,State_Name,District_Name,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,Whole Year,Cashewnut,720.0,165.0

In [3]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data[['Area', 'Production']] = scaler.fit_transform(data[['Area', 'Production']])