In [12]:
import pandas as pd

data = pd.read_csv(r'C:\Users\Lenovo\Desktop\AgriCast Predictive Analytics for Crop Production\Data\Processed\crop_production_processed_data.csv')
data.drop(columns=['Crop_Year'], axis=1, inplace=True)

In [13]:
data.head()

,State_Name,District_Name,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,Whole Year,Cashewnut,720.0,165.0

## Normalizing Area and Production

In [14]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data[['Area', 'Production']] = scaler.fit_transform(data[['Area', 'Production']])

In [15]:
data.columns

Index(['State_Name', 'District_Name', 'Season', 'Crop', 'Area', 'Production'], dtype='object')

### Label Encoding On `State_Name`, `District_Name`, `Season`.

In [16]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

data["Crop"] = le.fit_transform(data["Crop"])

for col in ["State_Name", "District_Name", "Season"]:
    data[col] = le.fit_transform(data[col])

In [17]:
data.head()

   State_Name  District_Name  Season  Crop      Area  Production
0           0            427       1     2  0.439210    0.174993
1           0            427       1    73  0.000666    0.000087
2           0            427       1    94  0.035693    0.028086
3           0            427       4     7  0.061613    0.056085
4           0            427       4    22  0.252163    0.014437

In [18]:
x = data.drop(columns=['Crop'], axis=1).values
y_values = data['Crop'].values

In [20]:
from sklearn.preprocessing import LabelEncoder

target_encoder = LabelEncoder()
y = target_encoder.fit_transform(y_values)

In [24]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(
    n_estimators=600,
    max_depth=None,
    min_samples_split=20,
    min_samples_leaf=10,
    max_features='sqrt',
    n_jobs=1
)
model.fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score

score = accuracy_score(y_test, y_pred)
score